div.auth-form {
    margin: 25px auto;
    padding:10px;
    background-color: #fff;
    border-radius:3px;
    text-align:center;
    font-weight:100;
}

div.auth-form a {
    text-decoration: none;
    color:#22537e;
}

div.auth-form h1 {
    background: -webkit-linear-gradient(0.15turn, #286091, #42a2f7);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
