div.message {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:50vh;
    font-size:30px;
}

div.message-description {
    font-size:15px;
}

div.home-page {
    background-image: url("https://wallpaperaccess.com/full/677511.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 1.5s ease-in-out; 
}

div.home-page-inner {
    background-color: rgba(0, 0, 0, 0.82);
    color: #fff;
    font-size:50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px 10px #000;
    text-align:center;
}

div#home-header {
    text-shadow: 1px 1px 2px #000;
    position:absolute;
    top:0;
    z-index:999999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    color: rgb(255, 255, 255);
    font-weight:200;
    top: 0;
    width: 100%;
}

div.latest-news-container {
    display: flex;
    flex-direction: column;
}

div.latest-news-container div.panel {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

div.latest-news-container div.info {
    position: absolute;
    max-width: 60%;
    bottom:40px;
    left:40px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

div.latest-news-container div.info h3 {
    font-size: 40px;
    margin: 0;
}

div.latest-news-container div.info a {
    display: inline-block;
    padding: 12px 15px;
    border: 1px solid #fff;
    text-decoration: none;
    color: inherit;
}

div.latest-news-container div.info a:hover {
    background-color: #fff;
    color:#000;
    transition: 0.3s;
    text-shadow: none;
}